[Unit]
Description=Check every ten minutes if code-server should be shutdown

[Timer]
OnCalendar=*-*-* *:00,10,20,30,40,50:00

[Install]
WantedBy=timers.target